{% extends 'base.html.twig' %}
{% block title %}Modifier Article{% endblock %}

{% block body %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-header bg-warning"><h4>Modifier : {{ article.nom }}</h4></div>
      <div class="card-body">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.prix) }}
            <button type="submit" class="btn btn-warning w-100">Modifier</button>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
